
body {
  background-color: #111;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #222;
  color: white;
}


header img {
  width: 40px;
  height: 40px;
}


header span {
  font-size: 1.2rem;
  font-weight: bold;
}


.hamburger {
  width: 44px;
  height: 44px;
  border: none;
  background: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}


.hamburger::before {
  content: "\2630"; /* ☰ */
}


.hamburger.show::before {
  content: "\00D7"; /* × */
}


@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
